<div>
  <h2>{{title}}</h2>
  <h2>{{title | uppercase}}</h2> <!-- seperation of view and model-->
  <h2>{{title | lowercase}}</h2>
  <h2>{{title | titlecase}}</h2>
  <b>{{message | titlecase}}</b> <br>
  <b>{{message1 | titlecase }}</b>
  <p>{{message.slice(5)}}</p>  <!-- mixture of view (GUI) and model (business logic)-->
  <p>{{message.toUpperCase()}}</p>
  <p>{{message | slice : 3}}</p>
  <!-- take user input for start index and end index use seperate input fields-->
  <p>{{message | slice : sliceObj.startIndex : sliceObj.endIndex}}</p>
  <hr>
  <p>{{salary}}</p>
  <p>{{salary | number}}</p>
  <p>{{salary | number : '5.1'}}</p>
  <ol>
    <li *ngFor="let sal of salaries">{{sal}}</li>
  </ol>
  <ol>
    <li *ngFor="let sal of salaries">{{sal | number}}</li>
  </ol>
  <ol>
    <li *ngFor="let sal of salaries">{{sal | number : '5.2'}}</li>
  </ol>
  <ol>
    <li *ngFor="let sal of salaries">{{sal | number : '5.1-2'}}</li>
  </ol>
  <ol>
    <li *ngFor="let sal of salaries">{{sal | number : '6.1-2'}}</li>
  </ol>
  <hr>
  <p>{{salary | currency}}</p>
  <p>{{salary | currency:'INR'}}</p>
  <p>{{salary | currency:'EUR'}}</p>
  <p>{{salary | currency:'EUR':'code'}}</p> <!-- symbol bydefault-->
  <!-- true: symbol (bydefualt) false: code-->
  <p>{{salary | currency:'EUR':false}}</p>
  <ol>
    <li *ngFor="let sal of salaries">{{sal | currency: 'INR':'symbol':'5.1-1'}}</li>
  </ol>
<hr>
<p>{{today}}</p>
<p>{{today | date}}</p> <!-- mediumDate-->
<p>{{today | date : 'short'}}</p>
<p>{{today | date : 'longDate'}}</p>
<p>{{today | date : 'fullTime'}}</p>
<p>{{today | date : 'dd-MM-yyyy'}}</p>
<p>{{today | date : 'd-M-yy'}}</p>
<p>{{today | date : 'd-MMM-yy'}}</p>
<p>{{today | date : 'd-MMMM-yy'}}</p>
<p>{{today | date : 'dd-MMMM-yyyy'}}</p>
<!-- shortDate, mediumDate,longDate,fullDate
shortTime, mediumTime,longTime,fullTime
short, medium, long, full-->
</div>
<hr>
<section>
  <select [(ngModel)]="colName">
    <option value="tId">ID</option>
    <option value="tType">TYPE</option>
    <option value="tRoute">ROOT</option>
    <option value="constructDate">CONSTRUCTION DATE</option>
    <option value="tTicket">TICKET FARE</option>
  </select>
  <table border="1">
    <thead>
      <tr><th>ID</th><th>TYPE</th><th>ROOT</th><th>CONSTRUCTION DATE</th><th>TICKET FARE</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let train of trainArray | orderBy : colName : desc : insensitive">
        <td>{{train.tId}}</td>
        <td>{{train.tType}}</td>
        <td>{{train.tRoute}}</td>
        <td>{{train.constructDate}}</td>
        <td>{{train.tTicket}}</td>
      </tr>
    </tbody>
  </table>
  <!-- orderBy : order property : ascending/descending : case-sensitive/insensitive
  ascending/descending : default- false for asc, true: descending
case-sensitive/insensitive : default- false for sensitive, true: insensitive  -->
<hr>
<table border="1">
  <thead>
    <tr><th (click)="arraySort('tId')">ID</th><th (click)="arraySort('tType')">TYPE</th><th (click)="arraySort('tRoute')">ROOT</th><th>CONSTRUCTION DATE</th><th>TICKET FARE</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let train of trainArray | orderBy : colName : desc : insensitive">
      <td>{{train.tId}}</td>
      <td>{{train.tType}}</td>
      <td>{{train.tRoute}}</td>
      <td>{{train.constructDate}}</td>
      <td>{{train.tTicket}}</td>
    </tr>
  </tbody>
</table>
<hr>
<b>Birthdate is {{birthDate}}</b>
<b>Age is {{birthDate | age }} years</b>
<h2>{{title.charAt(2)}}</h2> <!-- mixture of view and model-->
<h2>{{title }}</h2>
<label>Enter index:</label><input type="number" [(ngModel)]="index" min="0">
<h2>{{title | charat : index}}</h2>
<b>{{'india*is*my*country' | mytitlecase : '*'}}</b>
</section>
