<main>
    <h2>Welcome to Neosoft Technologies</h2>
        <p>NeoSOFT is a SEI-CMMI Level 5 and ISO 9001:2008 certified global IT consulting & software solutions provider with 4000+ software consultants 
        working full time across 8 delivery centers. </p>
        <p>
            Established in 1996, NeoSOFT is headquartered in Mumbai, India with offices 
            in USA, UK, Dubai, Italy, Germany, Japan & Australia.  
        </p>
        <p>
            Our commitment to quality and 25+ years of experience has made us serve over 1500+ 
            clients across 50+ countries with 85% client retention.
        </p>
        <p>
            Want to Login? <a routerLink="/login">CLICK HERE</a>
        </p>

       
</main>