<h3>This is LoginComponent View</h3><br>
<section >
    <h2 class="w-50 mx-auto"> LOGIN FORM</h2>
    <form class="w-50 mx-auto">
        <label>Enter Username</label>
        <input type="text" name="userName"> <br><br>
        <label>Enter Password</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="LOGIN"> 
        <input type="reset">
    </form>
</section>
<!-- Name, email Id, contact Number, age, set user name, set password, confirm password-->