
<section >
    <h2 class="w-50 mx-auto"> REGISTRATION FORM</h2>
    <form class="w-50 mx-auto"  [formGroup]="registerForm" (submit)="submitForm()" novalidate>
        <label>Enter Name</label>
        <input type="text" formControlName="name" > <br><br>
        <label>Enter Email Id</label>
        <input type="email" formControlName="emailId" ><br>
        <div *ngIf="mail.touched && mail.invalid" class="text-danger">
            <!-- put required div block here-->
            <div *ngIf="mail.errors?.['email']">
                <b>Please put valid email Id</b>
            </div>
        </div>
        <br>
        <label>Enter mobile Number</label>
        <input type="tel" formControlName="contactNumber" > <br>
        <div *ngIf="contact.touched && contact.invalid" class="text-danger">
            <!-- put required div block here-->
            <div *ngIf="contact.errors?.['pattern']">
                <b>Mobile number must contain only digits and must have 10 digits</b>
            </div>
        </div>
        <br>
        <label>Enter Age</label>
        <input type="number" formControlName="userAge"><br>
        <div *ngIf="age.touched && age.invalid" class="text-danger">
            <div *ngIf="age.errors?.['required']">
                <b>Age is required</b>
            </div>
            <div *ngIf="age.errors?.['min']">
                <b>Age should be greater than or equal to 16</b>
            </div>
            <div *ngIf="age.errors?.['max']">
                <b>Age should be less than or equal to 55</b>
            </div>
        </div><br>
        <label>Set Username</label>
        <input type="text" formControlName="userName"> <br><br>
        <label>Set Password</label>
        <input type="text" formControlName="password"><br>
        <div *ngIf="pass.touched && pass.invalid" class="text-danger">
            <div *ngIf="pass.errors?.['required']">
                <b>Password is required</b>
            </div>
            <div *ngIf="pass.errors?.['minlength']">
                <b>Password should be minimum 6 characters long</b>
            </div>
            <div *ngIf="pass.errors?.['maxlength']">
                <b>Password should be maximum 12 characters long</b>
            </div>
            <div *ngIf="pass.errors?.['pattern']">
                <b>Password should contain atleast one </b>
                <ul>
                    <li>capital letter</li>
                    <li>small letter</li>
                    <li>digit</li>
                    <li>special symbol</li>
                </ul>
            </div>
        </div><br>
        <label>Confirm Password</label>
        <input type="text" formControlName="confirmPassword" [style.border]="(cpassword.touched && !registerForm.errors?.['mismatch'])?'2px solid green':'2px solid red'"><br>
        <div *ngIf="registerForm.invalid" class="text-danger">
            <div *ngIf="cpassword.touched && registerForm.errors?.['mismatch']">
                <b>Confirm Password and Password should match</b>
            </div>
        </div>
        <input type="submit" value="REGISTER"  [disabled]="registerForm.invalid"> 
        <input type="reset">
    </form>
</section>
